html{
    scroll-behavior: smooth;
}


*{
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

body img{
    width: 100%;
}

html, body {
    height: 100%;
}


header{
    margin: 0 auto;
}

#bandera-spain{
    float: right;
    position: absolute;
    width: 40px;
}

#bandera-eeuu{
    float: right;
    position: absolute;
    width: 40px;
}

.cuadro h1{
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 20px;
    color: rgb(18, 89, 130);
}

.cuadro{
    position: absolute;
    width: 650px;
    top: 180px;
    left: 150px;
}

.cuadro p{
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

.ver-mas{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 8px;
    margin-top: 25px;
    text-align: center;
    color: rgb(36, 129, 184);
    border: 2px solid rgb(36, 129, 184);
    width: 100px;
}

.ver-mas a {
    text-decoration: none;
    outline: none;
}

.ver-mas:hover{
    transition: all ease.5s;
    background: cornflowerblue;
    color: white;
}

body{
    background: #F8FDFF;
}

#background2{
    width: 500px;
    position: absolute;
}

.servicio-titulo{
    padding-top: 50px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(18, 89, 130)
}

#servicio-titulo{
    font-size: 50px;
    margin: 50px 50px 50px 150px;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    color:#ECF1F8;
}

#works-titulo{
    font-size: 50px;
    margin: 50px 50px 50px 150px;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    color: #ECF1F8;
}

.servicios{
    text-align: center;
    padding-top: 113px;
    text-align: center;
    position: relative;
}

.cuadros{
    position: relative;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    text-align: center;
    width: 200px;
    margin: 40px ;
    padding: 8px;
    border: 1px solid rgb(36, 129, 184);
    margin: 0 auto;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.proyectos{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    row-gap: 25px;
    background: #F8FDFF;
}

.cajas{
    text-align: center;
    position: relative;
}

.cajas img{
    width: 215px;
}

.proyectos img:hover{
    transition: all ease.5s;
    transition-delay: 0.1s;
    width: 220px;
}

footer{
    padding: 100px;
    background: #F8FDFF;
}

#contact-title{
    font-size: 50px;
    margin: 50px;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    color: #ECF1F8;
}

.container-footer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
}

.container-footer img {
    width: 20px;
}

.redes {
    border: 1px solid rgb(160, 160, 160);
    box-shadow:  60px 16px rgb(160, 160, 160);
    -webkit-box-shadow: 15px 16px 7px  rgb(160, 160, 160);
}

.redes img{
    margin-bottom: 30px;
}

.redes h2 {
    padding: 20px;
}

.redes a{
    display: inline;
    margin-left: 23px;
}

.contacto {
    padding-bottom: 28px;
    border: 1px solid rgb(160, 160, 160);
    box-shadow:  60px 16px rgb(160, 160, 160);
    -webkit-box-shadow: 15px 16px 7px  rgb(160, 160, 160);
}

.contacto p {
    padding: 5px 5px 5px 20px;
}

.contacto a {
    display:flex;
}

.contacto h2{
    padding:20px;
}


@media only screen and (max-width:768px) {

    #bandera-spain{
        position: fixed;
        top: 0;
        z-index: auto;
    }

    #bandera-eeuu{
        position: fixed;
        top: 0;
        z-index: auto;
    }
    
    #background2 {
        display: none;
    }

    header{
        flex-wrap: wrap;
    }
    
    .background {
        display :none;
    }

    .cuadro{
        top: 50px;
        left: 15px;
        position: relative;
        max-width: 90%;
    }

    .cuadro p{
        text-align: justify;
    }

    .servicios{
        padding: 0;
    }

    #servicio-titulo{
        margin: 15%; 
        padding-top: 30px ;
    }

    #works-titulo{
        margin: 15%;
    }
    
    .proyectos{
        display: inline;
    }

     #contact-title{
        margin: 15%;
        text-align: ;
    } 

    footer{
        padding: 15px;
    }

    .redes{
        margin-bottom: 20px;
    }


}   
